<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submission Successful</title>
    <link rel="stylesheet" href="public/styles/styles.css" />
    <script src="public/scripts/script.js" defer></script>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="public/images/book.webp" />
</head>
<body>
    <h1>Thank you for your submission!</h1>
    <a href="/">Go Back</a>
</body>
</html>
